* {
    color: rgb(28, 28, 68);
}

body {
    background: rgb(119, 119, 153);
    color: rgb(28, 28, 68);
}
table {
    margin: auto;
}
    #Big_Container {
    background: rgb(203, 209, 221);
    border: 8px solid rgb(28, 28, 68);
    border-radius: 70px;
    margin: 100px;
    padding: 30px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
}
.navbar ul li {
    list-style: none;
}
footer {
    font-size: 20px;
    font-style: italic;
}
.footer {
    background-image: url(Img/Penicilina.jpg);
    width: 100%;
    height: 150px
}
button {
    width: 100%;
    height: 30px;
}
a {
    align-self: center;
}